{% extends '@ibexadesign/full/dealership_page.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('dealership-page-js') }}
{% endblock %}

{% block content %}
    <ul>
        {% if content_cars %}
            <div class="search-bar">
                <label for="search">Search:</label>
                <input type="text" id="search" class="search-input"
                       placeholder="Search by brand, model, year, or price">
                <button class="sortButton" data-sort-by="car_brand">Sort by Brand</button>
                <button class="sortButton" data-sort-by="model">Sort by model</button>
                <button class="sortButton" data-sort-by="year">Sort by year</button>
                <button class="sortButton" data-sort-by="price">Sort by price</button>
            </div>
            {% for car in content_cars %}
                <div  class="car-row">
                    <a href="{{ path( "ibexa.url.alias", { 'locationId': car.contentInfo.mainLocationId } ) }}"
                       target="_self">
                        <div>
                            {% if car.fields.year|default and car.fields.price|default and car.fields.model|default and car.fields.car_brand|default %}
                                <strong>marka:</strong>
                                <div class="car_brand">{{ ibexa_render_field(car, 'car_brand') }}</div>
                                <strong>model:</strong>
                                <div class="model"> {{ ibexa_render_field(car, 'model') }}</div>
                                <strong>rok:</strong>
                                <div class="year">{{ ibexa_render_field(car, 'year') }}</div>
                                <strong>cena:</strong>
                                <div class="price">{{ ibexa_render_field(car, 'price') }}</div>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </ul>


{% endblock %}